<h1>Login</h1>
<hr/>

<% if @user.errors.any? %>
  <div>
    <strong>There was an error with your submission:</strong>
    <ul>
      <% @user.errors.full_messages.each do |u| %>
        <li><%= u %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<form method="post" action="/users/login">

  <div class="form-group">
    <label for="exampleInputUsername1">Username:</label>
    <input type="username" name="username" class="form-control" id="exampleInputUsername1"  placeholder="Your Username" value="<%= @user.username %>">
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Password:</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1"  placeholder="Your Password" value="<%= @user.password %>">
  </div>

  </hr>
  <div>
  <button type="submit" class="btn btn-primary">Log in to your account</button>
  </div>

</form>

<hr/>

<p>Don't have an account?</p>
<button type="button" class="btn btn-default"><a href="/users/new">Create a new account</button></a>