<div class="content">
  <div class="overlay"></div>
<h1>Songs by <%= @musics.first.author %>:</h1>
<hr/>

<% @musics.each do |music| %>

<p>
  <h3>Track title: <%= music.song_title %></h3>
</p>

<p>
  URL: <a href="<%= music.url %>"><%= music.url %></a>
</p>

<hr/>
<% end %>

<a href="/music"><button type="button" class="btn btn-primary">Back to Music Wall</button></a>
<hr/>

</div>