<h1>Post a Song</h1>

<% if @musics.errors.any? %>
  <div>
    <strong>There was an error with your suggestion:</strong>
    <ul>
      <% @musics.errors.full_messages.each do |music| %>
        <li><%= music %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<form method="post" action="/music">
<hr/>

  <div class="form-group">
    <label for="exampleInputAuthor1">Artist</label>
    <input type="artist" name="author" class="form-control" id="exampleInputAuthor1"  placeholder="Artist" value="<%= @musics.author %>">
  </div>

  <div class="form-group">
    <label for="exampleInputSong1">Song Title:</label>
    <input type="song_title" name="song_title" class="form-control" id="exampleInputSong1"  placeholder="Song Name" value="<%= @musics.song_title %>">
  </div>

  <div class="form group">
    <label for="exampleInputURL">URL (optional):</label>
    <input type="url" name="url" class="form-control" id="exampleInputURL" placeholder="Optional Link" value="<%= @musics.url %>">
  </div>

  <div>
  <button type="submit" class="btn btn-primary">Submit</button>
  </div>

</form>