<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/

  <!-- <link rel="stylesheet" href="/stylesheets/normalize.css">  -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
 <!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"> -->
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/stylesheets/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script> -->

  <script src="https://code.jquery.com/jquery-2.1.3.js"></script>

  <script src="/javascript/bootstrap.min.js"></script>

  <script src="/javascript/application.js"></script>

  <title>Music Wall App</title>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Music Wall App</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/music">Music Wall</a></li>
        <li><a href="/music/new">Post a Song</a></li>
        <% unless current_user %>
          <li><a href="/users">Log In</a></li>
        <% else %>
          <li><a href="/users/logout">Log Out</a></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

  <% if current_user %>
    <p>You are currently logged in as <i><%= current_user.username %></i></p>
  <% else %> 
  <% end %>
  <%= yield %>
</body>
</html>
